

.First {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: 	#202020;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 10px;
}

.Main{
    background-color: 	#202020;
    color: white;
    padding-bottom: 50px;
    padding-top: 100px;
 display: flex;
 justify-content: space-around;
}
.one{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
}
button{
    max-width: 70px;
}
.more{
display: flex;
justify-content: center;
margin-top: 30px;
margin-bottom: 20px;
}

.dog{
   justify-content: center;
   max-width: 200px;
}


.info{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    height: 300px;

}
.quote{
    height: 300px;
   background-color: #E5E7EB;
   font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    font-style: italic;
}
.person{
    align-self: flex-end;
    font-style: normal;
   
}
